/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Modo Claro (estilo por defecto) */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fa;
    color: #333;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #2c3e50;
}

canvas {
    border: 2px solid #ddd;
    margin-bottom: 20px;
    border-radius: 50%;
}

.btn {
    padding: 12px 24px;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn:hover:not(.disabled) {
    background-color: #2980b9;
}

.selected-name {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #2c3e50;
}

.modal-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #333;
}

.modal-content .btn {
    padding: 12px 24px;
    font-size: 1rem;
    color: #fff;
    background-color: #2ecc71;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content .btn:hover {
    background-color: #27ae60;
}

/* Modo Oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .container {
    background-color: #2b2b2b;
    border: 1px solid #444;
}

body.dark-mode h1 {
    color: #ffffff;
}

body.dark-mode .btn {
    background-color: #4CAF50;
}

body.dark-mode .btn:hover:not(.disabled) {
    background-color: #45a049;
}

body.dark-mode .selected-name {
    color: #ffffff;
}